<!doctype html>
<html>
<head>
    <title id="PopUpTitle"></title>
    <link rel="stylesheet" href="styles/vsmm.css" />
    <link rel="stylesheet" href="scripts/tablesorter/themes/blue/style.css" />
    <script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="scripts/tablesorter/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="scripts/console.image.min.js"></script>
    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/VsmmController.js" defer></script>
    <script type="text/javascript" src="scripts/popup.js"></script>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="VsmmController">
            <img src="img/ajax-loader.gif" id="ajaxLoader" class="ajaxLoader" />
            <select id="UserLanguageSelection" ng-model="uiLanguageModel.selectedLang" ng-change="UiLanguageSelectionChanged(uiLanguageModel)" style="float: right;">
                <option ng-repeat="option in uiLanguageModel.availableOptions" value="{{option.id}}">{{option.name}}</option>
            </select>
            <div id="dataUnavailableForPage" hidden="hidden" aria-describedby="dataUnavailableForPageText">
                <h2 id="dataUnavailableForPageText">
                    {{VsmmDataUnavailableForPageText}}
                </h2>
            </div>
            <div id="errorOccuredPage" hidden="hidden" aria-describedby="errorOccuredPageText">
                <h2 id="errorOccuredPageText">
                    {{VsmmErrorOccuredPageText}}
                </h2>
            </div>
            <div id="notificationItems" hidden="hidden">
                <div>
                    <span id="errorOccuredPagePlease" hidden="hidden"></span>
                    {{VsmmIfYouSuspectSeeingIncorrectlyText}}
                    <a aria-label="Email author" href="#" id="DataUnavailableEmail">
                        {{VsmmHere}}
                    </a>
                    {{VsmmToNotifyAuthorText}}
                </div>
                <ul>
                    <li id="PageUrl"></li>
                    <li id="UserAgent"></li>
                    <li id="Locale"></li>
                    <li id="JavaScriptErrorText" hidden="hidden" class="javaScriptErrorText"></li>
                </ul>
            </div>
            <div id="nilSearchResults" hidden="hidden" aria-describedby="nilSearchResultsText">
                <h2 id="nilSearchResultsText">
                    {{VsmmNilSearchResultsText}}
                </h2>
                {{VsmmOnSlowerConnectionsText}}
            </div>
            <div style="color:red">
                <h2>
                    Friends, I am aware of the ### issue and am looking into it. For updates see
                    <a href="https://github.com/GregTrevellick/VisualStudioMarketplaceMetrics/issues/3" target="_blank" id="UserNotification">here</a>
                </h2>
                </br>
                </br>
            </div>
            <div id="dataAvailable" hidden="hidden">
                <h2>
                    {{totalExtensionsCount | number}}&nbsp;{{VsmmShown}}
                    <br />
                    {{TotalInstallCount | number}}&nbsp;{{VsmmInstalls}}
                    <br />
                    {{TotalReviewCount | number}}&nbsp;{{VsmmReviews}}
                    <br />
                    <span ng-show="ShowTotalOverallAverageReview()">
                        {{totalOverallAverageReview}}&nbsp;{{VsmmAverageReviewScore_Lower}}
                    </span>
                </h2>
                <a aria-label="Copy table to clipboard" href="#" id="CopyToClipboard" class="copyToClipboard">
                    {{VsmmCopyTableToClipboard}}
                </a>
                <div id="ClipboardBuffer">
                    <table id="DetailGridTable" class="tablesorter">
                        <thead>
                            <tr>
                                <th>{{VsmmNoOfInstalls}}</th>
                                <th>{{VsmmTitle_Grid}}</th>
                                <th>{{VsmmNoOfReviews}}</th>
                                <th>{{VsmmReviewsAsPercentageOfInstalls}}<p><p></th>
                                <th>{{VsmmPublisher}}</th>
                                <th>{{VsmmPrice}}</th>
                                <th>{{VsmmAverageReviewScore}}</th>
                            </tr>
                        </thead>
                        <tbody id="DetailGridTableBody">
                            <tr ng-repeat="daRow in DaRows">
                                <td class='numeric'>
                                    {{daRow.NoOfInstalls}}
                                </td>
                                <td>
                                    <div title="{{daRow.ExtnDescriptionFull}}">
                                        <a href="{{daRow.ExtnUrl}}" target="_blank">
                                            <img ng-src="{{daRow.ExtnIconUrl}}" style="width: 18%; height: 18%;">
                                            &nbsp;{{daRow.ExtnNameShort}}
                                        </a>
                                    </div>
                                </td>
                                <td class='numeric'>
                                    {{daRow.NoOfReviews}}
                                </td>
                                <td class='numeric' title="{{daRow.ReviewsAsPercentageOfInstallsTitle}}">
                                    {{daRow.ReviewsAsPercentageOfInstalls}}
                                </td>
                                <td>
                                    <a href="{{daRow.PublisherUrl}}" target="_blank">
                                        {{daRow.Publisher}}
                                    </a>
                                </td>
                                <td>
                                    {{daRow.Price}}
                                </td>
                                <td class='numeric'>
                                    {{daRow.AverageReviewScore}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class='numeric'>
                                    {{FooterGridTotalInstallCount}}
                                </td>
                                <td></td>
                                <td class='numeric'>
                                    {{FooterGridTotalReviewCount}}
                                </td>
                                <td class='numeric'>
                                    {{FooterReviewsAsPercentageOfInstalls}}
                                </td>
                                <td></td>
                                <td></td>
                                <td class='numeric'>
                                    {{FooterOverallAverageReview}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="VSMarketplaceMetricsHelp" aria-describedby="VisualStudioHelpText">
                <a aria-label="Help" href="#" ng-click="showHelp = !showHelp" class="helpIcon">
                    <img src="img/VisualStudioHelpIcon.png">
                </a>
                <span ng-show="showHelp">
                    {{VsmmVisualStudioHelpText}}
                </span>
            </div>
        </div>
    </div>
</body>
</html>
