table {
    /*max-width: 85%;*/
    min-width: 400px;
}

.numeric {
    text-align: right;
}
    
a {
    /*outline: none;*/
    text-decoration: none;
}

a:hover {
    /*color: #FFFEF2;*/
    text-decoration: underline;
}