body {
    min-width:400px;
}


/*table {
    min-width: 400px;
}*/

div.numeric,
td.numeric {
    text-align: right;
}
    
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.copyToClipboard {
    float: right;
    font-size: smaller;
}


/*th.rotate {
  white-space: nowrap;
}*/

/*th.rotate  {
  transform:*/ 
    /* Magic Numbers */
    /*translate(25px, 51px)*/
    /* 45 is really 360 - 45 */
    /*rotate(315deg);*/
/*}*/
