body {
    min-width:400px;
}

.VSMarketplaceMetricsHelp,
div.numeric,
td.numeric {
    text-align: right;
}
    
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.VSMarketplaceMetricsHelp,
.copyToClipboard {
    font-size: smaller;
}