table {
    max-width: 85%;
    min-width: 400px;
}

thead {
    font-weight: bold;
}

tfoot {
    text-decoration: overline;
}

.extensionTitle {
    max-width: 44px;
    background-color:burlywood;
}


/*gregt rename css class names below*/

.nbr {
    text-align: right;
}